.navbar{
  color: var(--green);
  font-family: 'NTR';
  background-color: var(--navy);
  
}
.navbar .navname{
  text-decoration: none; /* for a link to appear as a normal text*/
  color: var(--lightest_slate) !important;
  padding-left: 180px;
  font-size: 20px;
}
.navbar .navrandom1{
  text-decoration: none; /* for a link to appear as a normal text*/
  color: var(--lightest_slate) !important;
  padding-left: 25px;
  font-size: 18px;
}
.navbar .navcontact1{
  text-decoration: none; /* for a link to appear as a normal text*/
  color: var(--lightest_slate) !important;
  padding-left: 525px;
  font-size: 18px;
}
.navbar .navcontact2{
  text-decoration: none; /* for a link to appear as a normal text*/
  color: var(---lightest_slate) !important;
  padding-left: 25px;
  font-size: 18px;
}
.navbar .navcontact3{
  text-decoration: none; /* for a link to appear as a normal text*/
  color: var(--lightest_slate) !important;
  padding-left: 25px;
  padding-right: 50px;
  font-size: 18px;
}
